html, body {
    margin: 0;
    padding: 0;
  }
  canvas {
    display: block;
  }



  .title {
    position:absolute;
    width:100vw;
    text-align: center;
    top: 50
  }

  .infolink, .infolink:hover,.infolink:active,.infolink:visited{
    text-decoration: none;
    color:white !important;
    font-size: 2em;
}
@media (max-width: 600px) {
.bottomInfo{
    
        font-size: 3em;}
}

.infolink i:hover{
    color:lightgray !important;
}

.bottomInfo{
    position: absolute;
    right: 20;
    bottom:20;
}
  
